aside{display:grid;gap:30px;}
aside :is(.wp-block-categories-list,.wp-block-archives-list) li:not(:last-child){border-bottom:1px solid #aaa;}
aside :is(.wp-block-categories-list,.wp-block-archives-list) li a{padding:10px 0;display:flex;}