/* encabezado */
:is(.page-template-default,.post-template-default) .header-post .title-and-data__wrapper{position:relative;padding:var(--padding-bg-header) 0;text-align:center;}
:is(.page-template-default,.post-template-default) .header-post .title-and-data__wrapper .title-post{font-weight:400;font-size:30px;}