/* encabezado */
:is(.page-template-default,.post-template-default) .header-post .title-and-data__wrapper{position:relative;padding:var(--padding-bg-header) 0;text-align:center;}
:is(.page-template-default,.post-template-default) .header-post .title-and-data__wrapper .title-post{font-weight:400;font-size:30px;}
/* autor */
.post-template-default .header-post .title-and-data__wrapper .author{position:relative;padding-left:63px;margin-top:10px;}
.post-template-default .header-post .title-and-data__wrapper .author .avatar{position:absolute;top:0;left:0;border-radius:50%;background-color:#323232;}
.post-template-default .header-post .title-and-data__wrapper .author .author-ocupation{font-size:var(--wp--preset--font-size--small);opacity:.5;}